body {
  display: flex;
  justify-content: flex-start;;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  background-color:#505050;
}

.header{
  background-color: #909090;
  width:1400px;
  height:110px;
  border-radius: 15px;
  box-shadow:10px 10px 5px #000000;
  margin-bottom: 5px;
}
.sidebar-left{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #909090;
  border-radius: 15px;
  margin-top:15px;
  padding-top: 10px;
  padding-bottom: 10px;
  height:420px;
  width:140px;
  margin-left: 25px;
  margin-right: 25px;
  box-shadow:10px 10px 5px #000000;
}

.sidebar-left img{
  height:70px;
  width:70px;
}
.sidebar-right{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background-color: #909090;
  border-radius: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top:15px;
  margin-left: 25px;
  margin-right: 25px;
  height:420px;
  width:140px;
  box-shadow:10px 10px 5px #000000;
}
.sidebar-right img{
  height:100px;
}
.bottom-bar{
  margin-top: -80px;
  margin-left:-950px;
  background-color: #97fe98;
  border-radius: 15px;
  box-shadow:10px 10px 5px #000000;
  width:500px;
  height:150px;
}

.bricks1{
  display:flex;
  justify-content: space-around;
}
.bricks1 img{
height:30px;
width: 30px;
}

.bricks2{
  display:flex;
  justify-content: space-around;
}
.bricks2 img{
height:30px;
width: 30px;
}
.center-block{
  background-color: #909090;
  border-radius: 15px;
  margin-top:15px;
  height:596px;
  width:1044px;
  box-shadow:10px 10px 5px #000000;
}
.center-block img{
  margin:10px;
}
